.local
.vagrant
variables.pkrvars.hcl

# secret files
.secret.txt
.meta.yml

# Local .terraform directories and files
**/.terraform/*
.terraform*
.external_modules

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars
secret.yml
hosts.yml
meta.yml

# Ansible
ansible.cfg

# SonarQube
.scannerwork